<div class="settings-wrapper">
  <p>Enable/disable available features:</p>
  <ul>
    <li>
      <input type="checkbox" checked={{newItem}} onchange={{action "updateSetting" "newItem"}}/>
      Add new item</li>
    <li>
      <input type="checkbox" checked={{details}} onchange={{action "updateSetting" "details"}}/>
      Details page</li>
    <li>
      <input type="checkbox" checked={{status}} onchange={{action "updateSetting" "status"}} />
      New todo item status</li>
    <li>
      <input type="checkbox" checked={{search}} onchange={{action "updateSetting" "search"}} />
      Search</li>
    <li>
      <input type="checkbox" checked={{sort}} onchange={{action "updateSetting" "sort"}} />
      Sort</li>
    <li>
      <input type="checkbox" checked={{toggle}} onchange={{action "updateSetting" "toggle"}} />
      Toggle items status</li>
    <li>
      <input type="checkbox" checked={{count}} onchange={{action "updateSetting" "count"}} />
      Shows items count</li>
  </ul>
   {{global-button
    saveSettings=(action "saveSettings")
    label="Save"
    customclass="add-item button"
  }}
</div>