{{#if addItem}}
  <span class={{customclass}} class={{customclass}} onclick={{action "saveAction"}}>{{label}}</span>
{{/if}}

{{#if removeItem}}
  <button class={{customclass}} onclick={{action "removeItem"}}>{{label}}</button>
{{/if}}