{{#if addItem}}
  <span class={{customclass}} onclick={{action "saveAction"}}>{{label}}</span>
{{/if}}

{{#if removeTodo}}
  <button class={{customclass}} onclick={{action "removeItem"}}>{{label}}</button>
{{/if}}

{{#if resetSearch}}
  <button class={{customclass}} onclick={{action "resetSearchData"}}>{{label}}</button>
{{/if}}

{{#if saveSettings}}  
  <button class={{customclass}} onclick={{action "saveAppSettings"}}>{{label}}</button>
{{/if}}