<div class="item-label {{item.completed}}">
  <input type="checkbox" checked={{item.completed}} onchange={{action "toggleCompleted"}} />
  <span class="identifier"></span>
  <label>{{item.title}}</label>
</div>

{{global-button removeTodo=(action "removeTodo" item) label="Delete" customclass="remove-item"}}