<div class="item-label {{listItem.completed}}">
  <input type="checkbox" checked={{listItem.completed}} onchange={{action "toggleCompleted"}} />
  <span class="identifier"></span>
  <label>{{listItem.title}}</label>
</div>

{{global-button removeItem=(action "removeTodo" listItem) label="Delete" customclass="remove-item"}}